/*
Aqui vai meu CSS Personalizado
*/
:root{
    --border-white: #fff;
}


/*Sidebar*/
.vibebp_myprofile .profile_menu{
    border: 1px solid var(--border-white);
    margin: 16px;
    border-radius: 8px;
    top: 16px;
    max-height: 97vh;
}

.profile_menu div.site_logo{
    padding: 4px;
}

.profile_menu.active div.site_logo{
    padding: 8px;
}

.vibebp_myprofile>div.profile_menu div.site_logo>img{
    padding: 0;
}

.profile_menu .menu_items {
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px; 
}

.profile_menu.active .menu_items{
    padding: 16px;
}

.profile_menu .menu_items .bp-menu,
.profile_menu .menu_items .external_link{
    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: 4px;
    padding: 4px;
}

.profile_menu.active .menu_items .bp-menu,
.profile_menu.active .menu_items .external_link{
    padding: 8px;
}

.bp-menu.bp-profile-nav.hasChildren .sub_nav_items{
    margin: 8px 0 0 0;
    padding: 4px 4px 4px 8px;
}

.bp-menu.bp-profile-nav.hasChildren .sub_nav_items .bp-menu:not(:last-child){
    margin-bottom: 8px;
}

.profile_menu.active .menu_items .external_link{
    padding: 10px 18px;
    color: var(--white);
    cursor: pointer;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
}