



/*
Aqui vai meu CSS Personalizado SPACE
*/
:root{
    --border-white: #fff;
    --border-default: 1px solid var(--border-white);

    --border-radius-default: 8px;
}


/*Sidebar*/
.vibebp_myprofile .profile_menu{
    border: var(--border-default);
    margin: 16px;
    border-radius: var(--border-radius-default);
    top: 16px;
    max-height: 97vh;
}

.profile_menu div.site_logo{
    padding: 4px;
}

.profile_menu.active div.site_logo{
    padding: 8px;
    max-width: 144px;
    margin: 0 auto;
}

.vibebp_myprofile>div.profile_menu div.site_logo>img{
    padding: 0;
}

.profile_menu .menu_items {
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px; 
}

.profile_menu.active .menu_items{
    padding: 0 16px 16px;
}

.profile_menu .menu_items .bp-menu,
.profile_menu .menu_items .external_link{
    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: 4px;
    padding: 4px;
}

.profile_menu.active .menu_items .bp-menu,
.profile_menu.active .menu_items .external_link{
    padding: 8px;
}

.bp-menu.bp-profile-nav.hasChildren .sub_nav_items{
    margin: 8px 0 0 0;
    padding: 4px 4px 4px 8px;
}

.bp-menu.bp-profile-nav.hasChildren .sub_nav_items .bp-menu:not(:last-child){
    margin-bottom: 8px;
}

.profile_menu.active .menu_items .external_link{
    padding: 10px 18px;
    color: var(--white);
    cursor: pointer;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
}


/*Content*/
.vibebp_myprofile .profile_grid{
    background: transparent;
    width: 94%;
    padding: 16px;
    /* border: var(--border-default); */
    border: 1px solid red;
    border-radius: var(--border-radius-default);
    height: 97vh;
    margin: 16px 0 16px;
}

.vibebp_myprofile .dashboard{
    min-height: calc(100vh - 150px);
}


/*Content Header*/
.vibebp_myprofile .profile_grid .profile_grid_header{
    padding: 16px;
    border: 1px solid blue;
    border-radius: var(--border-radius-default);
    margin: 0 0 16px;
}