/*
Aqui vai meu CSS Personalizado
*/
:root{
    --border-white: #fff;
}


/*Sidebar*/
.vibebp_myprofile .profile_menu{
    border: 1px solid var(--border-white);
    margin: 16px;
    border-radius: 8px;
}

.profile_menu div.site_logo{
    padding: 4px;
}

.profile_menu.active div.site_logo{
    padding: 8px;
}

.vibebp_myprofile>div.profile_menu div.site_logo>img{
    padding: 0;
}